{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sytlesIndex.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="top">
        <css title1>La eterna primavera</css>
    </div>
    <button id="floatingButton"><img class="messageImage" src="{% static 'images/message.png' %}"/></button>

    <div id="Welcome">
        <h1>
            Bievenido
        </h1>
        <p>
            Acceder como:
        </p>

        <table>
            <tr>
                <button class="menuButton" id="patientButton">Paciente</button>
            </tr>
            <tr>
                <button class="menuButton" id="adminButton">Administrador</button>
            </tr>
        </table>
    </div>

    <div id="LoginAdminitrator">
        <h1>
            Ingrese sus datos
        </h1>
        <form id="userForm" action="{% url 'admin' %}" method="post">
            {% csrf_token %}
            <input type="text" class="inputField" name="name" placeholder="Id de empleado">
            <br>
            <input type="password" class="inputField" name="password" placeholder="Contraseña">
            <br> 
        </form>

        <table>
            <tr>
                <button class="menuButton" id="backButton">Regresar</button>
            </tr>
            <tr>
                <button class="menuButton" id="login">Entrar</button>
            </tr>
        </table>
    </div>

    <div class="PatientRoot" id="PatientRoot">
        <div class="overlay" id="overlay"></div>

        <div id="PatientContainer">
            <div id="PatientForm">
                <h1 id="formTitle">
                    Solicite una consulta
                </h1>
                <pre id="requestMessage">Ingrese sus datos:</pre>
                <form id="requestForm" action="{% url 'request_appointment' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="namePatient" id="namePatient" class="inputField" placeholder="Nombre">
                    <br>
                    <input type="text" name="dpiPatient" id="dpiPatient" class="inputField" placeholder="DPI" maxlength="13">
                    <br>
                    <input type="text" name="noPhone" id="noPhone" class="inputField" placeholder="Número de telefono" maxlength="8">
                    <br>
                    <textarea name="reasonPatient" id="reasonPatient" class="areaField" placeholder="Razón de la visita" maxlength="1000"></textarea>
                </form>
                <table>
                    <tr>
                        <button class="menuButton" id="cancelPatientButton">Cancelar</button>
                    </tr>
                    <tr>
                        <button class="menuButton" id="requestButton">Solicitar</button>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="MessageRoot" id="MessageRoot">
        <div class="overlay" id="overlay"></div>

        <div id="MessageContainer">
            <div id="MessageForm">
                <h1 id="messageTitle">
                    Contactese con nosotros
                </h1>
                Haganos saber sus dudas, deje un comentario o sugerencias.
                <br>
                Adjunte algún medio de contacto, nos comunicaremos con usted lo mas pronto posible :D
                <br/>
                <br/>
                <form>
                    <input type="text" class="inputField" placeholder="Nombre">
                    <br>
                    <input type="text" class="inputField" placeholder="Telefono / Correo">
                    <br>
                    <textarea class="areaField" placeholder="Mensaje"></textarea>
                    <br>
                </form>
                <table>
                    <tr>
                        <button class="menuButton" id="cancelMessageButton">Cancelar</button>
                    </tr>
                    <tr>
                        <button class="menuButton">Enviar</button>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>