<table id="patientTable" width="100%" cellspacing="10px">
    <tr>
        <td class="cellTitle">Nombre</td>
        <td class="cellTitle">Telefono</td>
        <td class="cellTitle">DPI</td>
        <td class="cellTitle">Otros</td>
    </tr>
    {% for patient in patients %}
        <tr>
            <td class="cellData">
                {{patient.name}}
            </td>

            <td class="cellData">
                {{patient.phone}}
            </td>

            <td class="cellData">
                {{patient.dpi}}
            </td>

            <td class="cellData">
                {{patient.others}}
            </td>

            <td>
                <button class="appointmentButton">Visitas</button>
            </td>
            <td>
                <button class="deleteButton">Eliminar</button>
            </td>
        </tr>
    {% endfor %}
</table>
