<table id="requetsTable" width="100%" cellspacing="10px">
    <tr>
        <td class="cellTitle">Nombre</td>
        <td class="cellTitle">Telefono</td>
        <td class="cellTitle">DPI</td>
        <td class="cellTitle">Razón de la visita</td>
    </tr>
    {% for request in request_appointment %}
        <tr>
            <td class="cellData">
                {{request.name}}
            </td>

            <td class="cellData">
                {{request.phone}}
            </td>

            <td class="cellData">
                {{request.dpi}}
            </td>

            <td class="cellData">
                {{request.reason}}
            </td>

            <td>
                <button class="acceptButton">Aceptar</button>
            </td>
            <td>
                <button class="deleteButton">Eliminar</button>
            </td>
        </tr>
    {% endfor %}
</table>
